.maps {

    overflow: hidden;

    &,
    .map {
        position: relative;
    }

    #stonemap {
        height: 80vh;
        outline: 0 !important;
        transition: all .3s ease-in-out;

        .primary-map-menu > ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: flex;
                height: initial !important;
                border-radius: 2px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                background-clip: padding-box;

                &:not(:first-child) {
                    margin-top: 10px;
                }

                & > div {
                    width: 34px;
                    height: 34px;
                    margin-top: 0 !important;
                    background: white;
                    border-radius: 2px;

                    svg {
                        padding: 7px;
                    }
                }
            }
        }

        .content-marker {

            display: flex;
            flex-direction: column;
            align-items: center;

            .popup {
                display: flex;
                flex-direction: column;
                background: white;
                color: #333;
                box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
                border-radius: 12px;
                margin-bottom: calc(50px + 20px);
                width: auto;
                min-width: 130px;
                font-size: 1.08333em;
                min-height: 1px;
                position: relative;
                padding: 20px 17px;

                .btn-add-house {
                    cursor: pointer;
                    width: 100%;
                    outline: 0 !important;

                    .save-label {
                        font-size: 12px;
                        margin: 7px 0 0 0;
                        font-weight: 600;
                        letter-spacing: 12px;
                        text-indent: 12px;
                        text-transform: uppercase;
                        display: block;
                    }

                    &.loading {
                        svg {
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            border-left-color: #5cb85c;
                            animation: loader-spin 1.2s infinite linear;
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            border-radius: 50%;

                            * {
                                opacity: 0;
                            }
                        }
                    }

                    &.loaded {
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        &::before {
                            content: '';
                            height: 46px;
                            width: 23px;
                            border-right: 3px solid #5cb85c;
                            border-top: 3px solid #5cb85c;
                            transform: scaleX(-1) rotate(135deg);
                            margin-bottom: 10px;
                            margin-top: -10px;
                        }

                        svg {
                            display: none;
                        }
                    }
                }

                .close-btn {
                    position: absolute;
                    color: #757575;
                    text-decoration: none;
                    top: -6px;
                    right: -6px;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    border-radius: 50px;
                    box-shadow: 4px -4px 14px -9px #000000;
                    font: 20px Tahoma, Verdana, sans-serif;
                }

                .spacer {
                    position: absolute;
                    left: 50%;
                    overflow: hidden;
                    pointer-events: none;
                    bottom: -6px;
                    width: 17px;
                    height: 17px;
                    transform: translateX(-50%) rotate(45deg);
                    background: white;
                    box-shadow: 0 3px 14px -7px rgba(0, 0, 0, 0.4);
                }
            }

            svg.marker:not(.static) {
                .color-svg-identity {
                    transition: all .3s;
                }
    
                &:hover {
                    .color-svg-identity {
                        fill: #5cb85c !important;
                    }
                }
            }
        }
    }

    #mini-map {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 5vw;
        height: 5vw;
        border-radius: 1vw;
        overflow: hidden;
        transition: all .3s;

        canvas {
            cursor: pointer;
        }
    
        @media screen and (max-width: 1024px) {
            & {
                bottom: 40px;
                right: 40px;
                width: 10vw;
                height: 10vw;
            }
        }
    }

    .details {
        position: absolute;
        top: 0;
        width: 50%;
        right: calc( -50% - 16px );
        height: 100%;
        padding: 0;
        background: rgba(255, 255, 255, 0.95);
        box-sizing: border-box;
        z-index: 10000;
        overflow: auto;
        user-select: none;
        transition: all .3s;

        .house {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;

            .info-container {

                * {
                    transition: all .3s;
                }

                .title {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 36px;
                }

                .location {
                    display: flex;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 24px;
    
                    .lat {
                        margin-right: 14px;
                    }
                }

                &.editable {
                    .title,
                    .lat,
                    .lng {
                        padding: 0 13px;
                        background: #f3f3f3;
                        border-radius: 4px;
                    }

                    .title,
                    .location {
                        margin: 25px;
                    }

                    .title,
                    .lat span,
                    .lng span {
                        outline: unset;
                        font-weight: 600;
                    }
                }
            }


            .actions {
                display: flex;
                align-items: center;
                justify-content: center;

                .btn {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    margin: 4px 2px;
                    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    width: 40px;
                    height: 40px;
                }
                
                .edit {
                    background-color: #0d6efd;

                    &:hover {
                        background-color: #0b5ed7;
                    }
                }

                .delete {
                    background-color: #dc3545;

                    &:hover {
                        background-color: #bb2d3b;
                    }
                }

                .save {
                    background-color: #198754;

                    &:hover {
                        background-color: #157347;
                    }
                }

                svg {
                    path {
                        stroke: white;
                    }

                    &.save-icon {

                        path {
                            fill: white;
                        }
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .info-container {
                cursor: pointer;

                svg {
                    width: 0;
                    transition: all .3s;
                }
                
                &:not(.lock_hover):hover {
                    svg {
                        width: 20px;
                        margin-right: 12px;
                    }
                }
            }
        }
    }


    .routing-popup-content {
        user-select: none;

        .routing-items {
            flex-direction: row !important;
            justify-content: space-between;

            .btn-routing {
                cursor: pointer;
                display: flex;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }


    &.show-houses {

        .map {
            width: 50%;
        }

        .details {
            transition: all .3s;
            padding: 0 16px;
            right: 0;
        }
    }

    .disabled {
        cursor: auto !important;
        pointer-events: none !important;
        opacity: .8;
        transform: scale(0.9) translateX(-2px);
    }

    .navigation {
        position: absolute;
        width: 100%;
        height: 70px;
        background: #5cb85c;
        display: flex;
        align-items: center;
        padding: 10px 18px;
        z-index: 10;
        transition: all .3s;

        &.navigation-controlls-top {
            top: 0;
            justify-content: space-between;

            .indications {
                display: flex;
                justify-content: center;
                width: 100%;

                .instruction {
                    color: white;
                    font-size: 24px;
                }
            }

            &.closed {
                top: -70px !important;
            }
        }

        &.navigation-controlls-bottom {
            bottom: 0;
            justify-content: flex-end;

            .btn-start-navigation {
                cursor: pointer;
                margin: auto;

                svg {
                    path {
                        transition: all .3s;
                    }

                    &:hover {
                        path {
                            fill: #323232;
                        }
                    }
                }
            }

            .btn-stop-navigation {

                cursor: pointer;
                display: flex;

                svg {

                    transition: all .3s;
                    border-radius: 50px;

                    &:hover {
                        background: white;
                    }
                }
            }

            &.closed {
                bottom: -70px !important;
            }
        }
    }
}

// .marker_icon {
//     width: 50px;
//     height: 50px;
// }

// @keyframes loader-spin {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }
// @keyframes checkmark {
//     0% {
//         height: 0;
//         width: 0;
//         opacity: 1;
//     }
//     20% {
//         height: 0;
//         width: 1.75em;
//         opacity: 1;
//     }
//     40% {
//         height: 3.5em;
//         width: 1.75em;
//         opacity: 1;
//     }
//     100% {
//         height: 3.5em;
//         width: 1.75em;
//         opacity: 1;
//     }
// }


@keyframes leaflet-control-locate-throb {
    0% {
      stroke-width: 1;
    }
    50% {
      stroke-width: 3;
      transform: scale(0.8, 0.8);
    }
    100% {
      stroke-width: 1;
    }
  }